<!DOCTYPE html>
<html lang="en">
  <title>Home Page</title>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@200&family=Roboto:ital,wght@1,300&family=Sacramento&display=swap">
  <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
  <style>
    *{
      font-weight: bolder !important;
      font-family: 'Montserrat';
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Hw3aXpsog.woff2) format('woff2');
    }
    .alert-messages {
      font-weight: bolder !important;
    }
  </style>
  </head>
  <body>
	<h1>You just logged in!!!</h1>
  <h2> Welcome admin!</h2>
  </body>
</html>
